html,
body {
    margin:0;
    padding:0;
    height:100%;
}

.page-container {
    min-height: 100%;
    position: relative;
    width: 900px;
    margin: auto;
}

.home-container {
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 100px;
}

.homepage-logo {
    padding: 1em;
}

.homepage-logo img {
    max-width: 500px;
    margin: 0 auto;
    display: inline-block;
    height: auto;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    text-align: left;
}

.form-container p {
    text-align: left;
}

button {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .page-container {
        width: 100%;
    }

    .home-container {
        padding-top: 0px;

    .homepage-logo img {
        max-width: 90%;
    }

    .form-container {
        width: 90%;
    }
}